* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  width: 100%;
  background-image: url(../../images/stars_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
}
